* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --application-width: 100%;
    /*1440px;*/
    --application-height: 100%;
    /*1024px;*/
    /*default colors*/
    --outcoming-message-color: #376B5A;
    --incoming-message-color: #293133;
    --time-color: #EBE5E5;
    /**light theme colors**/
    --primary-color-light: #B3F8E1;
    --secondary-color-light: #90CFBA;
    --primary-font-color-light: #FFFFFF;
    --secondary-font-color-light: #232829;
    --secondary-sub-font-color-light: #293133;
    --message-sender-color-light: #70A694;
    /**dark theme colors**/
    --primary-color-dark: #293133;
    --secondary-color-dark: #232829;
    --primary-font-color-dark: #FFFFFF;
    --secondary-font-color-dark: #7EDEBE;
    --secondary-sub-font-color-dark: #7FFFD4;
    --message-sender-color-dark: #2E393C;
}

.message-holder.outcoming .message {
    background: var(--outcoming-message-color);
}

.message-holder.incoming .message {
    background: var(--incoming-message-color)
}

.message-timestamp {
    color: var(--time-color);
}

/* #light theme */
.nim-application.light-theme {
    /*cursor:
        url('../resources/theme/cursor/pointer-light-theme.png') 4 1,
        url('../resources/theme/cursor/pointer-light-theme.cur') 4 1,
        pointer;*/
}

.nim-application.light-theme .message-holder.outcoming .message {
    color: var(--primary-font-color-light);
}

.nim-application.light-theme .message-holder.incoming .message {
    color: var(--primary-font-color-light);
}

.nim-application.light-theme .application-line {
    background: var(--secondary-color-light);
}

.nim-application.light-theme .application-name {
    color: var(--secondary-sub-font-color-light);
}

.nim-application.light-theme .application-body {
    background: var(--primary-color-light)
}

.nim-application.light-theme .application-menu {
    background: var(--secondary-color-light);
}

.nim-application.light-theme .chat:hover {
    outline: 1px solid var(--primary-color-light);
}

.nim-application.light-theme .application-menu-item:hover .icon,
.nim-application.light-theme .chat-menu-item:hover .icon {
    fill: var(--primary-color-light);
}

.nim-application.light-theme .application-menu-item.active,
.nim-application.light-theme .chat.active {
    background: var(--primary-color-light);
}

.nim-application.light-theme .chats {
    background: var(--secondary-color-light);
}

.nim-application.light-theme .search-chats input {
    background: no-repeat 5% 50% var(--secondary-color-light) url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4408 18.8679H20.0858L19.6055 18.4048C21.2864 16.4494 22.2985 13.9108 22.2985 11.1492C22.2985 4.99142 17.307 0 11.1492 0C4.99142 0 0 4.99142 0 11.1492C0 17.307 4.99142 22.2985 11.1492 22.2985C13.9108 22.2985 16.4494 21.2864 18.4048 19.6055L18.8679 20.0858V21.4408L27.4443 30L30 27.4443L21.4408 18.8679ZM11.1492 18.8679C6.87822 18.8679 3.43053 15.4202 3.43053 11.1492C3.43053 6.87822 6.87822 3.43053 11.1492 3.43053C15.4202 3.43053 18.8679 6.87822 18.8679 11.1492C18.8679 15.4202 15.4202 18.8679 11.1492 18.8679Z' fill='%23232829'/%3E%3C/svg%3E%0A");
}

.nim-application.light-theme .application-current-chat {
    background: var(--secondary-color-light);
}

.nim-application.light-theme .send-message {
    background: var(--message-sender-color-light);
}

.nim-application.light-theme .write-message input {
    background: var(--secondary-sub-font-color-light);
    color: white;
}

.nim-application.light-theme .current-chat-menu {
    background: var(--secondary-color-light);
}

.nim-application.light-theme .person-name {
    color: var(--secondary-font-color-light);
}

.nim-application.light-theme .person-message {
    color: var(--secondary-sub-font-color-light);
}

.nim-application.light-theme .icon {
    fill: var(--secondary-font-color-light);
}

.nim-application.light-theme .application-menu-item.active:hover .icon {
    fill: var(--secondary-font-color-light);
}

.nim-application.light-theme .icon:hover {
    fill: var(--primary-color-light);
}

.nim-application.light-theme .stroke-icon {
    stroke: var(--secondary-font-color-light);
}

.nim-application.light-theme .stroke-icon:hover {
    stroke: var(--primary-color-light);
}

.nim-application.light-theme .right-click-menu {
    background: #26493E
}

.nim-application.light-theme .right-click-menu li {
    background: #26493E;
    color: white;
}

.nim-application.light-theme .right-click-menu li:hover {
    background: #376B5A;
}

/* /light theme */
/* #dark theme */
.nim-application.dark-theme {
    /*cursor:
        url('../resources/theme/cursor/pointer-light-theme.png') 4 1,
        url('../resources/theme/cursor/pointer-light-theme.cur') 4 1,
        pointer;*/
}

.nim-application.dark-theme .message-holder.outcoming .message {
    color: var(--primary-font-color-dark);
}

.nim-application.dark-theme .message-holder.incoming .message {
    color: var(--primary-font-color-dark);
}

.nim-application.dark-theme .application-line {
    background: var(--secondary-color-dark);
}

.nim-application.dark-theme .application-name {
    color: var(--secondary-sub-font-color-dark);
}

.nim-application.dark-theme .application-body {
    background: var(--primary-color-dark)
}

.nim-application.dark-theme .application-menu {
    background: var(--secondary-color-dark);
}

.nim-application.dark-theme .chat:hover {
    outline: 1px solid var(--primary-color-dark);
}

.nim-application.dark-theme .application-menu-item:hover .icon,
.nim-application.dark-theme .chat-menu-item:hover .icon {
    fill: #ffffff;
}

.nim-application.dark-theme .application-menu-item.active,
.nim-application.dark-theme .chat.active {
    background: var(--primary-color-dark);
}

.nim-application.dark-theme .chats {
    background: var(--secondary-color-dark);
}

.nim-application.dark-theme .search-chats input {
    background: no-repeat 5% 50% var(--secondary-color-dark) url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4408 18.8679H20.0858L19.6055 18.4048C21.2864 16.4494 22.2985 13.9108 22.2985 11.1492C22.2985 4.99142 17.307 0 11.1492 0C4.99142 0 0 4.99142 0 11.1492C0 17.307 4.99142 22.2985 11.1492 22.2985C13.9108 22.2985 16.4494 21.2864 18.4048 19.6055L18.8679 20.0858V21.4408L27.4443 30L30 27.4443L21.4408 18.8679ZM11.1492 18.8679C6.87822 18.8679 3.43053 15.4202 3.43053 11.1492C3.43053 6.87822 6.87822 3.43053 11.1492 3.43053C15.4202 3.43053 18.8679 6.87822 18.8679 11.1492C18.8679 15.4202 15.4202 18.8679 11.1492 18.8679Z' fill='%237FFFD4'/%3E%3C/svg%3E%0A");
    color: var(--secondary-sub-font-color-dark);
}

.nim-application.dark-theme .application-current-chat {
    background: var(--secondary-color-dark);
}

.nim-application.dark-theme .send-message {
    background: var(--message-sender-color-dark);
}

.nim-application.dark-theme .write-message input {
    background: var(--secondary-color-dark);
    color: white;
}

.nim-application.dark-theme .current-chat-menu {
    background: var(--secondary-color-dark);
}

.nim-application.dark-theme .person-name {
    color: var(--secondary-font-color-dark);
}

.nim-application.dark-theme .person-message {
    color: var(--secondary-sub-font-color-dark);
}

.nim-application.dark-theme .icon {
    fill: var(--secondary-font-color-dark);
}

.nim-application.dark-theme .application-menu-item.active:hover .icon {
    fill: var(--secondary-font-color-dark);
}

.nim-application.dark-theme .icon:hover {
    fill: #ffffff;
}

.nim-application.dark-theme .stroke-icon {
    stroke: var(--secondary-font-color-dark);
    stroke-width: 4px;
    fill: none;
}

.nim-application.dark-theme .stroke-icon:hover {
    stroke: #ffffff;
}

.nim-application.dark-theme .right-click-menu {
    background: #26493E
}

.nim-application.dark-theme .right-click-menu li {
    background: #26493E;
    color: white;
}

.nim-application.dark-theme .right-click-menu li:hover {
    background: #376B5A;
}
/* /dark theme */
.flex {
    display: -webkit-flex !important;
    display: -ms-flex !important;
    display: flex !important;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.application-name {}

.nim-application {
    font-family: 'Red Hat Display', sans-serif;
    width: var(--application-width);
    height: var(--application-height);
    min-height: 570px;
    min-width: 325px;
    position: relative;
    overflow: hidden;
}

.application-body {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    padding: 25px;
}

.application-menu, .application-chats, .application-current-chat {
    margin-top: 15px;
}

.application-line {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.application-name {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 25px;
    letter-spacing: 0.07em;
}

.application-menu {
    height: 100%;
    width: 80px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    //margin-left: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 40px 40px 30px 30px;
    border-radius: 40px 40px 30px 30px;
}

.application-menu-item {
    text-align: center;
    line-height: 80px;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.application-menu-item.current-user img {
    width: 100%;
    height: 100%;
}

.application-menu-item:hover,
.application-menu-item.active {
    border-radius: 50px;
    -webkit-border-radius: 50px;
}

.application-menu-item.tasks {
    margin-bottom: auto;
    margin-top: auto;
}

.user-messages {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex: auto;
}

.application-blank {
    flex: auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.application-chats {
    min-width: 390px;
    margin-left: 25px;
    margin-bottom: 15px;
    flex: 0 1 455px;
    height: 100%;
}

.search-chats {
    width: 100%;
    height: 50px;
}

.search-chats input {
    font-size: 1.5rem;
    padding-left: 70px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    border: none;
}

.search-chats input:focus {
    outline: 2px solid black;
    border: none;
}

.chats {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-top: 15px;
    width: 100%;
    height: 100%;
    overflow: auto;
    max-height: calc(100% - 65px);
}

.chat {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    -ms-align-items: center;
    align-items: center;
    margin: 2px 2px 10px 2px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

.chat:last-child{
    margin-bottom: 50px;
}

.chat-preview {
    width: 80%;
}

.person-avatar {
    margin-right: 10px;
}

.person-avatar img {
    width: 80px;
    height: 80px;
}

.person-name {
    margin-bottom: 6px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: bold;
}

.person-message {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 25px;
    width: 90%;
    overflow: hidden;
    //white-space: nowrap;
    //text-overflow: "...";
}

.application-current-chat {
    margin-left: 25px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    //max-width: 1300px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    position: relative;
}

.make-call, .make-videocall, .options {
    flex-shrink: 0;
    flex-grow: 0;
}

.current-chat-menu {
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 60px;
}

.right-click-menu.active{
    display: block;
    position: absolute;
    z-index: 4;
}

.right-click-menu {
    overflow: hidden;
    display: none;
    width: 225px;
    height: 300px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    list-style: none;
}

.right-click-menu li {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    width: 100%;
    height: 50px;
}

.right-click-menu-item{
    margin-left: 20px;
}

.right-click-menu li:hover {}

.current-chat-menu .person-name {
    margin-left: 45px;
    margin-right: auto;
    font-size: 1.75rem;
    line-height: 2.125rem;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "...";
}

.chat-block {
    position: absolute;
    bottom: 75px;
    width: 100%;
    height: calc(100% - 135px);
    overflow: auto;
}

.chat-block .messages {
    width: 100%;
    //height: 100%;
    //position: absolute;
    bottom: 0;
    left: 0;
}

.message-holder.outcoming {
    display: flex;
    justify-content: flex-end;
}

.message-holder.incoming {
    display: flex;
    justify-content: flex-start;
}

.message {
    position: relative;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    //min-width: fit-content;
    max-width: 60% !important;
    padding: 12px 55px 16px 30px;
    margin: 15px;
}

.message-timestamp {
    position: absolute;
    z-index: 2;
    right: 15px;
    bottom: 10px;
    font-weight: 500;
    font-size: 1rem;
}

.send-message {
    height: 75px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    width: 100%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

.attach-document {
    width: 42px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-left: 20px !important;
    margin-right: 15px !important;
}

.write-message {
    flex: auto;
    height: 60%;
}

.write-message input {
    font-size: 1.5rem;
    line-height: 1.8125rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-left: 30px;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
}

.record-message {
    margin-left: 20px !important;
    margin-right: 15px !important;
    width: 45px;
    flex-shrink: 0;
    flex-grow: 0;
}

.current-chat-menu .chat-menu-item {
    padding: 5px;
    margin: 5px;
}

.nim-application .icon {
    display: inline;
    vertical-align: middle;
    margin: 5px;
}

.nim-application.light-theme .stroke-icon {
    display: inline;
    vertical-align: middle;
    fill: none;
    stroke-width: 4px;
}
