.nim-application.light-theme .application-menu {
  background: var(--secondary-color-light);
}

.nim-application.light-theme .application-menu-item:hover svg {
  opacity: 0.5;
}

.nim-application.light-theme .application-menu-item.active {
  background: var(--primary-color-light);
}

.nim-application.dark-theme .application-menu {
  background: var(--secondary-color-dark);
}

.nim-application.dark-theme .application-menu-item:hover {
  opacity: 0.5;
}

.nim-application.dark-theme .application-menu-item.active {
  background: var(--primary-color-dark);
}

.application-menu {
  height: 100%;
  width: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 40px 40px 30px 30px;
  border-radius: 40px 40px 30px 30px;
}

.application-menu-item {
  text-align: center;
  line-height: 60px;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  background-color: transparent;
}

.application-menu-item svg {
  width: 30px;
  height: 30px;
}

.application-menu-item.current-user img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.application-menu-item:hover,
.application-menu-item.active {
  -webkit-border-radius: 50px;
}

.application-menu-item.tasks {
  margin-bottom: auto;
}