.not-found {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--primary-color-light);
}

.not-found__header {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 92px;
  margin-top: 0;
  margin-bottom: .25em;
  color: var(--asphalt-tinted);
  z-index: 1;
}

.not-found__desc {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: var(--asphalt-tinted);
  z-index: 1;
}

.not-found__question-marks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 400px;
  line-height: 0.75;
  opacity: .05;
  color: var(--asphalt-tinted);
  user-select: none;
}

.not-found__question-marks-row {
  margin: 0;
}

.not-found__question-marks-row:nth-last-of-type(even) {
  position: relative;
  left: .5ex;
}