[data-tooltip] {
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
[data-tooltip]:before,
[data-tooltip]:after {
    line-height: 1;
    font-size: .9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: block;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}
[data-tooltip]:before {
    content: "";
    border: 6px solid transparent;
    z-index: 100;
}
[data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 14px 13px;
    border-radius: 10px;
    background: #293133;
    color: #7FFFD4;
    z-index: 99;
    text-shadow: 0 0 5px #7FFFD4;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* flow top and default */
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #293133;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 4px);
}
[data-tooltip]:not([data-flow])::before, 
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
    transform: translate(-50%, 0px);
}
[data-tooltip]:not([data-flow]):hover::before, 
[data-tooltip]:not([data-flow]):hover::after,
[data-tooltip][data-flow="top"]:hover::before,
[data-tooltip][data-flow="top"]:hover::after {
    transform: translate(-50%, -4px);
}

/* flow bottom */
[data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #293133;
}
[data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 4px);
}
[data-tooltip][data-flow="bottom"]::before, 
[data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
    transform: translate(-50%, 0px);
}
[data-tooltip][data-flow="bottom"]:hover::before, 
[data-tooltip][data-flow="bottom"]:hover::after {
    transform: translate(-50%, 8px);
}

/* flow left */
[data-tooltip][data-flow="left"]::before {
    border-right-width: 0;
    border-left-color: #293133;
    left: calc(0em - 5px);
}
[data-tooltip][data-flow="left"]::after {
    right: calc(100% + 4px);
}
[data-tooltip][data-flow="left"]::before,
[data-tooltip][data-flow="left"]::after {
    top: 50%;
    -webkit-transform: translate(-8px, -50%);
    transform: translate(0px, -50%);
}
[data-tooltip][data-flow="left"]:hover::before,
[data-tooltip][data-flow="left"]:hover::after {
    transform: translate(-8px, -50%);
}

/* flow right */
[data-tooltip][data-flow="right"]::before {
    border-left-width: 0;
    border-right-color: #293133;
    right: calc(0em - 5px);
}
[data-tooltip][data-flow="right"]::after {
    left: calc(100% + 4px);
}
[data-tooltip][data-flow="right"]::before,
[data-tooltip][data-flow="right"]::after {
    top: 50%;
    -webkit-transform: translate(8px, -50%);
    transform: translate(0px, -50%);
}
[data-tooltip][data-flow="right"]:hover::before,
[data-tooltip][data-flow="right"]:hover::after {
    transform: translate(8px, -50%);
}

/* flow blank */
[data-tooltip=""]::after, 
[data-tooltip=""]::before {
    display: none !important;
}
